<!DOCTYPE HTML>


<html>
	<head>
		<title>DB Candle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
		<!-- <link rel="stylesheet" href="main.css"> -->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>Dickbreaker</strong> Candle Co.</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
				
		
					

					<header>
						<h1>Glossary</h1>
					
					</header>		
				</div>
		
				<div class="inner">
						
						
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>&nbsp</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Dickbreaker</a></td>
										<td>&nbsp-&nbsp</td>
										<td><a href="https://www.urbandictionary.com/define.php?term=dickbreaker">Definition</a></td>
									</tr>
									<tr>
										<td>Slut Fuel</a></td>
										<td>&nbsp-&nbsp</td>
										<td><a href="https://www.urbandictionary.com/define.php?term=slut+fuel">Definition</a></td>
									</tr>
									<tr>
										<td>Eatta Dick</a></td>
										<td>&nbsp-&nbsp</td>
										<td><a href="hhttps://www.urbandictionary.com/define.php?term=eat+a+dick">Definition</a></td>
									</tr>
								</tbody>
								<tfoot>
								
								
							</table>
						</div>
					</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>